/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* =================================
   1. RESET
================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* =================================
   1. RESET
================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* =================================
   2. BASE
================================= */

body {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

/* =================================
   3. VARIABLES GLOBALES
================================= */

:root {
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #767272;

  --color-text-title: #222;        /* títulos principales */
  --color-text-body: #666;         /* párrafos */
  --color-text-muted: #555;        /* etiquetas pequeñas */
  --color-text-subtle: #444;       /* listas o detalles */
  --color-text-strong: #333;       /* líneas, acentos oscuros */

  --color-border: #cccccc;
  --color-accent: #3b82f6;
}